.newsletter {
    
    background-color: #f2f4f5;
    text-align: center;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.newsletter h2 {
    font-size: 1.5rem;
}

.group input,
.group button {
    display: inline-block;
    border-width: 0;
    font-size: 0.8125rem;
    padding: 0.3125rem 0.625rem;

}

.group button {
    background-color: coral;
    color: white;
}