.aside{
    margin-top: 50px;
}

.aside__cabecera {
    
    border-bottom: 1px solid gray;
}

.aside__tags {
    border-bottom: 1px solid gray;
}

.aside__tags ul {
    padding: 0;
    list-style: none;
}

.aside__tags ul li {
    padding: 2px 4px;
    background-color: steelblue;
    margin-right: 1px;
    color: white;
}

.aside__noticias-destacadas {
    margin-bottom: 50px;
}

.aside__noticias-destacadas img {
    width: 220px;
    height: 200px;
}

// @include desktop-view{
//     .listado-izquierdo{
//                 display: none;
//             }
// }
