


.contenido{
    margin-top: 50px;

    &__noticia{
        padding-bottom: 50px;
    }

    
}

.contenido__cuerpo img{
    width: 210px;
    height: 300px;
}

@include phone-view{
    .contenido__cuerpo img{
        width: 400px;
        height: 300px;
    }
}










